.container {
  --toc-item-open-background: #f4f4f4;
  --toc-item-root-backlight-background: #e8e8e8;

  background-color: transparent;
  transition: background-color 0.15s;

  &.rootCategory {
    &.open {
      background-color: var(--toc-item-open-background);
    }
  }

  &.backlight {
    background-color: var(--toc-item-root-backlight-background);
  }
}
